{% extends 'layouts/main.html' %}
{% block title %}New IT Section{% endblock %}
{% block content %}
<a href="/itsections" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp;back to IT Sections</a>
  <div class="form-wrapper">
    <form method="post" class="form">
      <h3 class="form-heading">Add new IT Section</h3>
      <div class="form-group">
        <label for="name">Name</label>
        {{ form.name(class_ = 'form-control', autofocus = true) }}
      </div>
      <input type="submit" value="Create Section" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
{% endblock %}