{% extends 'layouts/main.html' %}
{% block title %}Delete Branch{% endblock %}
{% block content %}
<a href="/itsections" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp;back to IT Sections</a>
  <div class="form-wrapper">
      <h3 class="form-heading">Delete IT Section : {{section.name}}</h3>
      <h4>Are You sure you want to delete this section ?</h4>
      <form action="" method="POST" class="form">
          <input type="submit" class="btn btn-danger my-button" value="Delete"/>
      </form>
      <a href="/itsections" class="btn btn-success my-button" >No</a>     
  </div>
{% endblock %}