{% extends 'layouts/main.html' %}
{% block title %}New Fault{% endblock %}
{% block content %}
<a href="/faults" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp;back to faults list</a>
  <div class="form-wrapper">
    <form method="post" class="form">
      <h3 class="form-heading">Report new Fault</h3>
      <div class="form-group">
        <label for="fault_type">Fault Type</label>
        {{ form.fault_type(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="fault_description">Fault description</label>
        {{ form.fault_description(class_ = 'form-control', autofocus = true,style="resize:vertical;") }}
      </div>
      <input type="submit" value="Report Fault" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
{% endblock %}