{% extends 'layouts/main.html' %}
{% block title %}New Branch{% endblock %}
{% block content %}
<a href="/branches" class="btn btn-default"><i class="fa fa-arrow-left"></i>&nbsp;back to branches</a>
  <div class="form-wrapper">
    <form method="post" class="form">
      <h3 class="form-heading">Add new Branch</h3>
      <div class="form-group">
        <label for="name">Name</label>
        {{ form.name(class_ = 'form-control', autofocus = true) }}
      </div>
      <input type="submit" value="Create Branch" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
{% endblock %}