{% extends 'layouts/main.html' %}
{% block title %}Fault Types{% endblock %}
{% block content %}
<h2>Fault Types</h2>
<a href="/faulttypes/add" class="btn btn-default"><i class="fas fa-plus"></i>Add new Type</a>
<div class="row box-out">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Fault Type</th>
                <th>IT Section</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {%for type in types %}
            <tr>
                <td>{{type.fault_type}}</td>
                <td>{{type.section_name}}</td>
                <td> {% if type.is_active %} Active{%else%} Inactive {%endif %}</td>
                <td>
                    <a href="/faulttypes/{{type.id}}"><i class='fa fa-info'></i></a>
                    &nbsp;
                    <a href="/faulttypes/{{type.id}}/edit"><i class='fa fa-edit'></i></a>
                    &nbsp;
                    <a href="/faulttypes/{{type.id}}/delete"><i class='fa fa-trash'></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}